body {
	background-color: #ffffff;
	width: 1366px;
	height: 286px;
}

nav {
	background-color: #ed353c;
	margin:0;
}

nav ul {
	padding: 0 15px;

}

nav li {
	list-style: none;
	display:inline;
	margin-left: 10px;
	border-right: 1px solid black;
	padding-right: 10px;
}

nav li:first-child { /*nth-child(), nth-child()*/
	margin-left: 0;
	border: none;
}

nav li:last-child { /*nth-child(), nth-child()*/
	border: none;
}

nav img {
	vertical-align: middle;
	margin-right: 430px;
	margin-left: 0;
	padding: 15px 0;
}

.nav-buttons:hover {
		background-color: #ffffff;
	}

#main-box {
	background-color: #e1f1f7;
	margin-bottom: 20px;
	height: 560px;
	position: relative;
}

#service-box {
	background-color: #e1f1f7;
	height: 300px;
}

footer li
 {
	list-style: none;
	display:inline;
}

footer ul:first-child {
	margin: 0 auto;
	padding-top: 20px;
	width: 200px;
}

#triangle-nav {
	padding: 0 10px;
	position: absolute;
	left: 700px;

}

nav ul {
	display: block;
	color: #777777;
	padding: 10px;
}

nav li {
	display: inline-block;
	margin-right: 1px;
	padding: 4px 5px 0 5px;
	border: 1px solid transparent;
	word-spacing: normal;

}
